<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" class="h-full">

<head>
  {{ partial "head.html" . }}
</head>

<body class="flex bg-neutral-50 flex-col h-full">
  <header class="w-full flex flex-row fixed">
    {{ partial "header.html" . }}
  </header>
  <main class="mt-14 main-padding h-full">
    {{ block "main" . }}{{ end }}
  </main>
  {{/*  <footer>  */}}
    {{/*  {{ partial "footer.html" . }}  */}}
  {{/*  </footer>  */}}
</body>
</html>