{{/*  <h1>{{ site.Title }}</h1>  */}}
<link rel="stylesheet" href="borel.css">
<div class="bg-green-700 w-full flex flex-row h-10 items-center border-b-solid border-neutral-400 border-b">
    <a href="/">
        <div class="ml-2 mr-2 delius text-neutral-50 ">
        {{/*  <div class="ml-2 mr-2 borel" style="font-family:Borel">  */}}
                La petite vadrouille
        </div>
    </a>
    {{ range site.Menus.main }}
    <a href="{{ .URL }}">
        <div class="mr-2">
            {{ .Name }}
        </div>
    </a>
    {{ end }}
</div>